pug/coffee.pug
extend include/_temp.pug

//- 商品用
mixin detail(name)
    .detail
        h3.detail__name #{name}
        .detail__b
            .detail__taste: ul
                li.detail__tastelist 酸味
                li.detail__tastelist 苦味
                li.detail__tastelist 香り
            if block
                block
            else
                p No content provided
        .detail__store: a.detail__link(href="store-item.html") storeを見る


block head
    title 商品説明
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Raleway|Sawarabi+Mincho&display=swap" rel="stylesheet">

block hdr
    nav.nav
        ul.nav__item
            li.nav__list: a.nav__link(href="#blend") blend
            li.nav__list: a.nav__link(href="#straight") straight
block contents
    .page-mv: img.page-mv__img(src="../img/coffee.JPG", alt="coffee")
    section.coffee#blend
        h2.coffee__ttl Blendcoffee
        .coffee__detail
            +detail("マイルドブレンド")
                p 深みとコクのある当社人気NO.1のブレンド。
                    br
                    |ブラジル産の豆をベースに4か国の豆をブレンドして深煎り焙煎で仕上げました。
                    br
                    |程よい苦味のある後味がマイルド特徴のあるコーヒーです。
            +detail("オリジナルブレンド")
                p 深煎りのブラジルをベースにしたブレンド。
                    br
                    |マイルドブレンドとロイズブレンドの中間の味わい。
                    br
                    |深みとコクがあるブレンドです。

            +detail("ロイズブレンド")
                p あっさりとした酸味が心地良いアメリカンタイプ。
                    br
                    |ブラジル産の豆をベースに3か国の豆をブレンドして中煎り焙煎であっさりと仕上げました。
                    br
                    |軽いコーヒーが好きな方にお勧めです。

            +detail("エチオピアモカブレンド")
                p さわやかな酸味とモカ特有の上品な香りがあるコーヒー。
                    br
                    |エチオピア産の豆をベースに4か国の豆をブレンドして中煎りで仕上げました。
                    br
                    |コーヒーの香りを楽しみたい方にお勧めです。

            +detail("ブルーマウンテンNO.1ブレンド")
                p ブルーマウンテンの中でも最高級のブルーマウンテンNO.1をベースにしたブレンド。
                    br
                    |ジャマイカ産の豆をベースに4か国の豆をブレンドして中煎り焙煎で仕上げました。
                    br
                    |自分へのご褒美として召し上がって頂きたいコーヒーです。

    section.coffee#straight 
        h2.coffee__ttl Straightcoffee
        .coffee__detail
            +detail("ブルーマウンテンNO.1")
                p 生産量が少ないブルーマウンテンの中でも一番グレードの高い豆。
                    br
                    |絶妙なバランスを備えた、日本で一番人気のあるコーヒーです。
                    br
                    |当社ではバランスを活かす為に中煎り焙煎で仕上げています。
            +detail("キリマンジャロAA")
                p 程よい酸味が特徴のキリマンジャロの中で 一番グレードの高い豆。
                    br
                    |当社では中深煎り焙煎をして酸味を抑えてバランスをとりました。
                    br
                    |当社の焙煎士が一番好きな豆で、こだわりの焙煎をしています。
            +detail("エチオピアモカ")
                p 特徴のある強い香りと、コクがあるコーヒーです。
                    br
                    |エチオピア産モカの最高級品を中煎りで仕上げました。
                    br
                    |砂糖とミルクを多めに入れると紅茶のように感じられる不思議な豆です。

            +detail("マンデリンG1")
                p 芳醇な香りとコクのある、やわらかな苦味が特長のコーヒーです。
                    br
                    |インドネシア産の豆を中深煎りで仕上げました。
                    br
                    |全体的なバランスがとれているので、ストレートコーヒーの好みを知る為のベースになるかも・・・。

            +detail("グァテマラSHB")
                p 上質な風味と甘い香りのある柔らかい口あたりのコーヒーです。
                    br
                    |グァテマラ産の豆を中煎りで仕上げました。
                    br
                    |すっきりとした味わいをお楽しみ頂けます。

block ftr
    include include/_footer-a.pug

html/coffee.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="noindex, nofollow">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:title" content="@username">
    <meta name="twitter:image" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:image" content="">
    <link rel="apple-touch-icon" sizes="57x57" href="">
    <link rel="apple-touch-icon" sizes="60x60" href="">
    <title>商品説明</title><link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Raleway|Sawarabi+Mincho&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <header class="header" id="header">
        <h1 class="hdr__ttl"><img class="hdr__logo" src="../img/logo1.svg" alt="LLoyd's Coffee"></h1>
        <nav class="nav">
          <ul class="nav__item">
            <li class="nav__list"><a class="nav__link" href="#blend">blend</a></li>
            <li class="nav__list"><a class="nav__link" href="#straight">straight</a></li>
          </ul>
        </nav>
        <nav class="gnav" id="gnav">
          <ul class="gnav__item">
            <li><a class="gnav__link" href="index.html">top</a></li>
            <li><a class="gnav__link" href="store.html">OnlineStore</a></li>
            <li><a class="gnav__link" href="coffee.html">商品情報</a></li>
            <li><a class="gnav__link" href="shop.html">店舗情報</a></li>
            <li><a class="gnav__link" href="company.html">会社概要</a></li>
            <li><a class="gnav__link" href="privacy.html">プライバシーポリシー</a></li>
            <li><a class="gnav__link" href="cookie.html">Cookieポリシー</a></li>
            <li><a class="gnav__link" href="contact.html">お問い合わせ</a></li>
          </ul>
        </nav>
        <button class="hdr__btn" id="hdr__btn"><span class="hdr__btn-a"></span><span class="hdr__btn-b"></span><span class="hdr__btn-c"></span></button>
      </header>
      <main class="main" id="main">
        <div class="page-mv"><img class="page-mv__img" src="../img/coffee.JPG" alt="coffee"></div>
        <section class="coffee" id="blend">
          <h2 class="coffee__ttl">Blendcoffee</h2>
          <div class="coffee__detail">
            <div class="detail">
              <h3 class="detail__name">マイルドブレンド</h3>
              <div class="detail__b">
                <div class="detail__taste">
                  <ul>
                    <li class="detail__tastelist">酸味</li>
                    <li class="detail__tastelist">苦味</li>
                    <li class="detail__tastelist">香り</li>
                  </ul>
                </div>
                <p>深みとコクのある当社人気NO.1のブレンド。<br>ブラジル産の豆をベースに4か国の豆をブレンドして深煎り焙煎で仕上げました。<br>程よい苦味のある後味がマイルド特徴のあるコーヒーです。</p>
              </div>
              <div class="detail__store"><a class="detail__link" href="store-item.html">storeを見る</a></div>
            </div>
            <div class="detail">
              <h3 class="detail__name">オリジナルブレンド</h3>
              <div class="detail__b">
                <div class="detail__taste">
                  <ul>
                    <li class="detail__tastelist">酸味</li>
                    <li class="detail__tastelist">苦味</li>
                    <li class="detail__tastelist">香り</li>
                  </ul>
                </div>
                <p>深煎りのブラジルをベースにしたブレンド。<br>マイルドブレンドとロイズブレンドの中間の味わい。<br>深みとコクがあるブレンドです。</p>
              </div>
              <div class="detail__store"><a class="detail__link" href="store-item.html">storeを見る</a></div>
            </div>
            <div class="detail">
              <h3 class="detail__name">ロイズブレンド</h3>
              <div class="detail__b">
                <div class="detail__taste">
                  <ul>
                    <li class="detail__tastelist">酸味</li>
                    <li class="detail__tastelist">苦味</li>
                    <li class="detail__tastelist">香り</li>
                  </ul>
                </div>
                <p>あっさりとした酸味が心地良いアメリカンタイプ。<br>ブラジル産の豆をベースに3か国の豆をブレンドして中煎り焙煎であっさりと仕上げました。<br>軽いコーヒーが好きな方にお勧めです。</p>
              </div>
              <div class="detail__store"><a class="detail__link" href="store-item.html">storeを見る</a></div>
            </div>
            <div class="detail">
              <h3 class="detail__name">エチオピアモカブレンド</h3>
              <div class="detail__b">
                <div class="detail__taste">
                  <ul>
                    <li class="detail__tastelist">酸味</li>
                    <li class="detail__tastelist">苦味</li>
                    <li class="detail__tastelist">香り</li>
                  </ul>
                </div>
                <p>さわやかな酸味とモカ特有の上品な香りがあるコーヒー。<br>エチオピア産の豆をベースに4か国の豆をブレンドして中煎りで仕上げました。<br>コーヒーの香りを楽しみたい方にお勧めです。</p>
              </div>
              <div class="detail__store"><a class="detail__link" href="store-item.html">storeを見る</a></div>
            </div>
            <div class="detail">
              <h3 class="detail__name">ブルーマウンテンNO.1ブレンド</h3>
              <div class="detail__b">
                <div class="detail__taste">
                  <ul>
                    <li class="detail__tastelist">酸味</li>
                    <li class="detail__tastelist">苦味</li>
                    <li class="detail__tastelist">香り</li>
                  </ul>
                </div>
                <p>ブルーマウンテンの中でも最高級のブルーマウンテンNO.1をベースにしたブレンド。<br>ジャマイカ産の豆をベースに4か国の豆をブレンドして中煎り焙煎で仕上げました。<br>自分へのご褒美として召し上がって頂きたいコーヒーです。</p>
              </div>
              <div class="detail__store"><a class="detail__link" href="store-item.html">storeを見る</a></div>
            </div>
          </div>
        </section>
        <section class="coffee" id="straight"> 
          <h2 class="coffee__ttl">Straightcoffee</h2>
          <div class="coffee__detail">
            <div class="detail">
              <h3 class="detail__name">ブルーマウンテンNO.1</h3>
              <div class="detail__b">
                <div class="detail__taste">
                  <ul>
                    <li class="detail__tastelist">酸味</li>
                    <li class="detail__tastelist">苦味</li>
                    <li class="detail__tastelist">香り</li>
                  </ul>
                </div>
                <p>生産量が少ないブルーマウンテンの中でも一番グレードの高い豆。<br>絶妙なバランスを備えた、日本で一番人気のあるコーヒーです。<br>当社ではバランスを活かす為に中煎り焙煎で仕上げています。</p>
              </div>
              <div class="detail__store"><a class="detail__link" href="store-item.html">storeを見る</a></div>
            </div>
            <div class="detail">
              <h3 class="detail__name">キリマンジャロAA</h3>
              <div class="detail__b">
                <div class="detail__taste">
                  <ul>
                    <li class="detail__tastelist">酸味</li>
                    <li class="detail__tastelist">苦味</li>
                    <li class="detail__tastelist">香り</li>
                  </ul>
                </div>
                <p>程よい酸味が特徴のキリマンジャロの中で 一番グレードの高い豆。<br>当社では中深煎り焙煎をして酸味を抑えてバランスをとりました。<br>当社の焙煎士が一番好きな豆で、こだわりの焙煎をしています。</p>
              </div>
              <div class="detail__store"><a class="detail__link" href="store-item.html">storeを見る</a></div>
            </div>
            <div class="detail">
              <h3 class="detail__name">エチオピアモカ</h3>
              <div class="detail__b">
                <div class="detail__taste">
                  <ul>
                    <li class="detail__tastelist">酸味</li>
                    <li class="detail__tastelist">苦味</li>
                    <li class="detail__tastelist">香り</li>
                  </ul>
                </div>
                <p>特徴のある強い香りと、コクがあるコーヒーです。<br>エチオピア産モカの最高級品を中煎りで仕上げました。<br>砂糖とミルクを多めに入れると紅茶のように感じられる不思議な豆です。</p>
              </div>
              <div class="detail__store"><a class="detail__link" href="store-item.html">storeを見る</a></div>
            </div>
            <div class="detail">
              <h3 class="detail__name">マンデリンG1</h3>
              <div class="detail__b">
                <div class="detail__taste">
                  <ul>
                    <li class="detail__tastelist">酸味</li>
                    <li class="detail__tastelist">苦味</li>
                    <li class="detail__tastelist">香り</li>
                  </ul>
                </div>
                <p>芳醇な香りとコクのある、やわらかな苦味が特長のコーヒーです。<br>インドネシア産の豆を中深煎りで仕上げました。<br>全体的なバランスがとれているので、ストレートコーヒーの好みを知る為のベースになるかも・・・。</p>
              </div>
              <div class="detail__store"><a class="detail__link" href="store-item.html">storeを見る</a></div>
            </div>
            <div class="detail">
              <h3 class="detail__name">グァテマラSHB</h3>
              <div class="detail__b">
                <div class="detail__taste">
                  <ul>
                    <li class="detail__tastelist">酸味</li>
                    <li class="detail__tastelist">苦味</li>
                    <li class="detail__tastelist">香り</li>
                  </ul>
                </div>
                <p>上質な風味と甘い香りのある柔らかい口あたりのコーヒーです。<br>グァテマラ産の豆を中煎りで仕上げました。<br>すっきりとした味わいをお楽しみ頂けます。</p>
              </div>
              <div class="detail__store"><a class="detail__link" href="store-item.html">storeを見る</a></div>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer-a" id="footer">
        <div class="ftr1">
          <div class="ftr-icon">
            <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../img/inst.png"></a></div>
            <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../img/fb.png"></a></div>
            <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../img/twi.png"></a></div>
          </div>
          <h2 class="ftr__name ftr__col">ロイズコーヒーユニオン株式会社</h2>
          <address class="ftr__add ftr__col">〒062-0034<br>北海道札幌市豊平区西岡4条10丁目7-1<br>TEL：011-855-3939<br>FAX：011-855-3939<br>e-mail：lloydszimu84@gmail.com</address>
        </div>
        <div class="ftr2">
          <p class="ftr__etc"><a class="ftr__link ftr__col" href="company.html">会社概要</a><a class="ftr__link ftr__col" href="privacy.html">プライバシーポリシー</a><a class="ftr__link ftr__col" href="cookie.html">cookie</a><a class="ftr__link ftr__col" href="contact.html">お問い合わせ</a></p>
          <p class="ftr__copy"><small class="ftr__col">© 2020 lloyds coffee union Inc. All rights reserved.</small></p>
        </div>
      </footer>
    </div>
    <!-- ここから下にjsファイル設置--><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../js/function.js"></script>
  </body>
</html>
