html/cookie.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="noindex, nofollow">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:title" content="@username">
    <meta name="twitter:image" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:image" content="">
    <link rel="apple-touch-icon" sizes="57x57" href="">
    <link rel="apple-touch-icon" sizes="60x60" href="">
    <title>cookie policy</title><link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Raleway|Sawarabi+Mincho&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <header class="header" id="header">
        <h1 class="hdr__ttl"><img class="hdr__logo" src="../img/logo1.svg" alt="LLoyd's Coffee"></h1>
        <nav class="gnav" id="gnav">
          <ul class="gnav__item">
            <li><a class="gnav__link" href="index.html">top</a></li>
            <li><a class="gnav__link" href="store.html">OnlineStore</a></li>
            <li><a class="gnav__link" href="coffee.html">商品情報</a></li>
            <li><a class="gnav__link" href="shop.html">店舗情報</a></li>
            <li><a class="gnav__link" href="company.html">会社概要</a></li>
            <li><a class="gnav__link" href="privacy.html">プライバシーポリシー</a></li>
            <li><a class="gnav__link" href="cookie.html">Cookieポリシー</a></li>
            <li><a class="gnav__link" href="contact.html">お問い合わせ</a></li>
          </ul>
        </nav>
        <button class="hdr__btn" id="hdr__btn"><span class="hdr__btn-a"></span><span class="hdr__btn-b"></span><span class="hdr__btn-c"></span></button>
      </header>
      <main class="main" id="main">
        <div class="pol">
          <h2 class="pol__ttl">Cookie（クッキー）ポリシー</h2>
          <p class="pol__txt">Cookie ポリシーでは、当サイトで利用している Cookie およびそれに類似するファイル（以下「Cookie」といいます）とその利用目的について説明します。</p>
          <h3 class="pol__sttl">Cookie（クッキー）とは</h3>
          <p class="pol__txt">Cookie とは、ご利用のブラウザ、またはスマートフォンなどの端末に保存される、画像やピクセルなどの情報を保存した小さなファイルです。Cookie はあなたのオンライン上での活動などを保存しており、あなたがどのような活動をしているかを収集するために使われています。Cookie には、当サイトへ送られる情報を保存したもの（ファーストパーティ Cookie）と、当サイトが利用している他社サービスへ送られるもの（サードパーティ Cookie）があります。<br>Cookie に保存された情報が行き来することによって、あなたが当サイトを訪問したことがあるかを確認できます。私たちは Cookie の利用により、あなたの趣味嗜好に合わせてよりよい情報をお届けすることができます。<br>Cookie は、当サイトをよりよくするためにサイト訪問者がサイト上でどんな活動をしているかモニタリングすることを目的として利用されているものであり、Cookie には個人を特定できる情報を保存していません。これ以外でお客様の同意を得た場合と運用上必要となる場合に限り、個人情報に関連するデータが保存されることがあります。</p>
          <h3 class="pol__sttl">Cookie の利用への同意</h3>
          <p class="pol__txt">当サイトのサービスの提供において Cookie の利用が必ずしも必要でない場合、Cookie はお客様が同意した場合のみ使用されます。なお、当サイトの閲覧を続けることにより、お客様はこの Cookie ポリシーに同意したものとみなします。<br>お客様は当サイトで利用される Cookie の設定をいつでも変更することができます。例えば、特定の種類の Cookie の利用を拒否することもできます。<br>Cookie の管理は一般的にご利用のブラウザの設定から行えるようになっています。ブラウザからの設定方法についてはこのポリシーの最下部をご確認ください。</p>
          <h3 class="pol__sttl">法的根拠</h3>
          <p class="pol__txt">当サイトでは、閲覧開始時に表示する Cookie バナーへお客様が同意することによって、または当サイトの閲覧を続けることによって、Cookie を使用することに同意いただいたものとして取り扱い、データ処理の合法性は EU 一般データ保護規則（GDPR）の第 6 条 1 項（a）に準拠します。同意されなかった場合、機能 Cookie の使用に関する法的根拠は、EU 一般データ保護規則（GDPR）の第 6 条 1 項（f）に記されている正当な利益（ウェブサイトの分析、最適化、サービスの提供など）となります。</p>
          <h3 class="pol__sttl">法的根拠</h3>
          <p class="pol__txt">当サイトでは、閲覧開始時に表示する Cookie バナーへお客様が同意することによって、または当サイトの閲覧を続けることによって、Cookie を使用することに同意いただいたものとして取り扱い、データ処理の合法性は EU 一般データ保護規則（GDPR）の第 6 条 1 項（a）に準拠します。同意されなかった場合、機能 Cookie の使用に関する法的根拠は、EU 一般データ保護規則（GDPR）の第 6 条 1 項（f）に記されている正当な利益（ウェブサイトの分析、最適化、サービスの提供など）となります。</p>
          <h3 class="pol__sttl">Cookie の種類</h3>
          <p class="pol__txt">当サイトで使用している Cookie について、その目的と機能から下記にカテゴリを分けています。</p>
          <ul class="pol__item">
            <li class="pol__list">必須 Cookie</li>
            <li class="pol__list">機能 Cookie</li>
            <li class="pol__list">パフォーマンス Cookie</li>
            <li class="pol__list">マーケティング Cookie / サードパーティ Cookie</li>
          </ul>
          <h4 class="pol__ss">必須 Cookie</h4>
          <p class="pol__txt">
            必須 Cookie は当サイトのサービス提供のために必要不可欠な Cookie です。必須 Cookie は当サイトに帰属するファーストパーティ Cookie に分類されます。これは、必須 Cookie に保存されたすべてのデータは当サイトで利用されることを意味します。当サイトでは、下記の必須 Cookie を利用しています。</p>
          <p class="pol__txt">必須 Cookie はお客様の同意を問わず、当サイトの閲覧に必ず使用されます。そのため当サイトの Cookie 設定からは使用を拒否できません。なお、ブラウザの設定から Cookie の使用を拒否することはいつでも可能になっています。</p>
          <h4 class="pol__ss">機能 Cookie</h4>
          <p class="pol__txt">
            機能 Cookie は、お客様から提供された地域や言語などのデータをもとにお客様の閲覧体験を向上するために使われます。機能 Cookie が保存する情報はすべて匿名化され、個人を特定することはできません。そのため、機能 Cookie のデータからはお客様の当サイト以外での行動の追跡はできません。当サイトでは、下記の機能 Cookie を利用しています。</p>
          <p class="pol__txt">機能 Cookie はCookie 設定からいつでもオプトアウト（無効化）できるようになっています。</p>
          <h4 class="pol__ss">パフォーマンス Cookie</h4>
          <p class="pol__txt">
            パフォーマンス Cookie は、当サイトがお客様にどのように利用されているかのデータを取得し、当サイトの利便性や機能の向上のために使われています。この Cookie により、お客様が当サイト内のどのページを訪れたか、どのコンテンツに興味を示していたかなどを調べることができます。具体的には、特定のページが何回閲覧されたか、一度のアクセスで何回ページ遷移があったか、当サイトに滞在した時間はどのくらいだったか、ページを閲覧した順番はどうだったか、閲覧元の国や地域はどこか、閲覧に使われたデバイスはなにか、などがあります。なお、お客様が使われた端末の IP アドレスは自動的に匿名化され、特定の個人の情報である関連付けはできないようになっています。お客様は当サイトの閲覧時に特定の状況にて生じる理由により、EU 一般データ保護規則（GDPR）の第 89 条 1 項で規定される統計目的としてのデータ処理について、異議を申し立てる権利があります。上記およびその他のデータ主体の権利を行使するために、影響を受けた当事者はいつでも、会社概要またはプライバシーポリシーなど、当サイトで提供される連絡先を介して当サイトの所有者に連絡することができます。
            当サイトでは、下記のパフォーマンス Cookie を利用しています。
          </p>
          <p class="pol__txt">パフォーマンス Cookie はCookie 設定からいつでもオプトアウト（無効化）できるようになっています。</p>
          <h4 class="pol__ss">マーケティング Cookie / サードパーティ Cookie</h4>
          <p class="pol__txt">
            マーケティング Cookie / サードパーティ Cookie は、当サイト以外の第三者によって生成されるCookie です。主に広告会社やマーケティングサービスなどで利用されます。これらの Cookie は、例えば個人のウェブ上での行動から興味関心を推測し、特定の情報の広告を出す「行動ターゲティング」などに使われています。当サイトでは、下記のマーケティング Cookie / サードパーティ Cookie を利用しています。</p>
          <p class="pol__txt">マーケティング Cookie / サードパーティ Cookie は、Cookie 設定からいつでもオプトアウト（無効化）できるようになっています。</p>
          <h3 class="pol__sttl">Cookie の管理と削除について</h3>
          <p class="pol__txt">お客様はご利用のブラウザの設定から Cookie の使用を拒否したり、Cookie を使用する場合は毎回確認する設定を行うことができます。また、すでに保存されている Cookie をいつでも削除することができます。ブラウザによって操作方法は異なるため、詳しくはお使いのブラウザのヘルプをご確認ください。<br>但し、Cookie の使用を拒否するようにブラウザの設定を変更すると、当サイトのすべてまたは一部の機能をご利用いただけなくなる場合があります。ご留意ください。</p>
        </div>
      </main>
      <footer class="footer" id="footer">
        <p class="ftr__copy"><small>© 2020 lloyds coffee union Inc. All rights reserved.</small></p>
      </footer>
    </div>
    <!-- ここから下にjsファイル設置--><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../js/function.js"></script>
  </body>
</html>

pug/cookie.pug
extend include/_temp.pug
block head
    title cookie policy
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Raleway|Sawarabi+Mincho&display=swap" rel="stylesheet">

block contents
    .pol
        h2.pol__ttl Cookie（クッキー）ポリシー
        p.pol__txt Cookie ポリシーでは、当サイトで利用している Cookie およびそれに類似するファイル（以下「Cookie」といいます）とその利用目的について説明します。
        h3.pol__sttl Cookie（クッキー）とは
        p.pol__txt Cookie とは、ご利用のブラウザ、またはスマートフォンなどの端末に保存される、画像やピクセルなどの情報を保存した小さなファイルです。Cookie はあなたのオンライン上での活動などを保存しており、あなたがどのような活動をしているかを収集するために使われています。Cookie には、当サイトへ送られる情報を保存したもの（ファーストパーティ Cookie）と、当サイトが利用している他社サービスへ送られるもの（サードパーティ Cookie）があります。
            br
            |Cookie に保存された情報が行き来することによって、あなたが当サイトを訪問したことがあるかを確認できます。私たちは Cookie の利用により、あなたの趣味嗜好に合わせてよりよい情報をお届けすることができます。
            br
            |Cookie は、当サイトをよりよくするためにサイト訪問者がサイト上でどんな活動をしているかモニタリングすることを目的として利用されているものであり、Cookie には個人を特定できる情報を保存していません。これ以外でお客様の同意を得た場合と運用上必要となる場合に限り、個人情報に関連するデータが保存されることがあります。
        h3.pol__sttl Cookie の利用への同意
        p.pol__txt 当サイトのサービスの提供において Cookie の利用が必ずしも必要でない場合、Cookie はお客様が同意した場合のみ使用されます。なお、当サイトの閲覧を続けることにより、お客様はこの Cookie ポリシーに同意したものとみなします。
            br
            |お客様は当サイトで利用される Cookie の設定をいつでも変更することができます。例えば、特定の種類の Cookie の利用を拒否することもできます。
            br
            |Cookie の管理は一般的にご利用のブラウザの設定から行えるようになっています。ブラウザからの設定方法についてはこのポリシーの最下部をご確認ください。
        h3.pol__sttl 法的根拠
        p.pol__txt 当サイトでは、閲覧開始時に表示する Cookie バナーへお客様が同意することによって、または当サイトの閲覧を続けることによって、Cookie を使用することに同意いただいたものとして取り扱い、データ処理の合法性は EU 一般データ保護規則（GDPR）の第 6 条 1 項（a）に準拠します。同意されなかった場合、機能 Cookie の使用に関する法的根拠は、EU 一般データ保護規則（GDPR）の第 6 条 1 項（f）に記されている正当な利益（ウェブサイトの分析、最適化、サービスの提供など）となります。
        h3.pol__sttl 法的根拠
        p.pol__txt 当サイトでは、閲覧開始時に表示する Cookie バナーへお客様が同意することによって、または当サイトの閲覧を続けることによって、Cookie を使用することに同意いただいたものとして取り扱い、データ処理の合法性は EU 一般データ保護規則（GDPR）の第 6 条 1 項（a）に準拠します。同意されなかった場合、機能 Cookie の使用に関する法的根拠は、EU 一般データ保護規則（GDPR）の第 6 条 1 項（f）に記されている正当な利益（ウェブサイトの分析、最適化、サービスの提供など）となります。
        h3.pol__sttl Cookie の種類
        p.pol__txt 当サイトで使用している Cookie について、その目的と機能から下記にカテゴリを分けています。
        ul.pol__item
            li.pol__list 必須 Cookie
            li.pol__list 機能 Cookie
            li.pol__list パフォーマンス Cookie
            li.pol__list マーケティング Cookie / サードパーティ Cookie
        h4.pol__ss 必須 Cookie
        p.pol__txt 必須 Cookie は当サイトのサービス提供のために必要不可欠な Cookie です。必須 Cookie は当サイトに帰属するファーストパーティ Cookie に分類されます。これは、必須 Cookie に保存されたすべてのデータは当サイトで利用されることを意味します。
            |当サイトでは、下記の必須 Cookie を利用しています。

        p.pol__txt 必須 Cookie はお客様の同意を問わず、当サイトの閲覧に必ず使用されます。そのため当サイトの Cookie 設定からは使用を拒否できません。なお、ブラウザの設定から Cookie の使用を拒否することはいつでも可能になっています。
        h4.pol__ss 機能 Cookie
        p.pol__txt 機能 Cookie は、お客様から提供された地域や言語などのデータをもとにお客様の閲覧体験を向上するために使われます。機能 Cookie が保存する情報はすべて匿名化され、個人を特定することはできません。そのため、機能 Cookie のデータからはお客様の当サイト以外での行動の追跡はできません。
            |当サイトでは、下記の機能 Cookie を利用しています。

        p.pol__txt 機能 Cookie はCookie 設定からいつでもオプトアウト（無効化）できるようになっています。
        h4.pol__ss パフォーマンス Cookie
        p.pol__txt パフォーマンス Cookie は、当サイトがお客様にどのように利用されているかのデータを取得し、当サイトの利便性や機能の向上のために使われています。この Cookie により、お客様が当サイト内のどのページを訪れたか、どのコンテンツに興味を示していたかなどを調べることができます。具体的には、特定のページが何回閲覧されたか、一度のアクセスで何回ページ遷移があったか、当サイトに滞在した時間はどのくらいだったか、ページを閲覧した順番はどうだったか、閲覧元の国や地域はどこか、閲覧に使われたデバイスはなにか、などがあります。なお、お客様が使われた端末の IP アドレスは自動的に匿名化され、特定の個人の情報である関連付けはできないようになっています。
            |お客様は当サイトの閲覧時に特定の状況にて生じる理由により、EU 一般データ保護規則（GDPR）の第 89 条 1 項で規定される統計目的としてのデータ処理について、異議を申し立てる権利があります。上記およびその他のデータ主体の権利を行使するために、影響を受けた当事者はいつでも、会社概要またはプライバシーポリシーなど、当サイトで提供される連絡先を介して当サイトの所有者に連絡することができます。
            |当サイトでは、下記のパフォーマンス Cookie を利用しています。
        p.pol__txt パフォーマンス Cookie はCookie 設定からいつでもオプトアウト（無効化）できるようになっています。
        h4.pol__ss マーケティング Cookie / サードパーティ Cookie
        p.pol__txt マーケティング Cookie / サードパーティ Cookie は、当サイト以外の第三者によって生成されるCookie です。主に広告会社やマーケティングサービスなどで利用されます。これらの Cookie は、例えば個人のウェブ上での行動から興味関心を推測し、特定の情報の広告を出す「行動ターゲティング」などに使われています。
            |当サイトでは、下記のマーケティング Cookie / サードパーティ Cookie を利用しています。
        p.pol__txt マーケティング Cookie / サードパーティ Cookie は、Cookie 設定からいつでもオプトアウト（無効化）できるようになっています。
        h3.pol__sttl Cookie の管理と削除について
        p.pol__txt お客様はご利用のブラウザの設定から Cookie の使用を拒否したり、Cookie を使用する場合は毎回確認する設定を行うことができます。また、すでに保存されている Cookie をいつでも削除することができます。ブラウザによって操作方法は異なるため、詳しくはお使いのブラウザのヘルプをご確認ください。
            br
            | 但し、Cookie の使用を拒否するようにブラウザの設定を変更すると、当サイトのすべてまたは一部の機能をご利用いただけなくなる場合があります。ご留意ください。
block ftr
    include include/_footer.pug
