pug/haisou.pug
extend include/_temp.pug


block head
    title LLOYD'S coffee OnlineStore
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Raleway|Sawarabi+Mincho&display=swap" rel="stylesheet">

block hdr
    h2.store__ttl ONLINE STORE
block contents
    .pol
        dl
            dt.pol__sttl 配送料に関する情報
            dd.pol__txt お荷物のサイズや地域によって送料が異なりますので、その場合はご注文後修正した送料をご連絡いたします。先に送料を確認されたい場合は、事前にお問合せフォームもしくはメールにてご連絡ください。
            dt.pol__sttl 国際配送に関する注意事項
            dd.pol__txt 国際配送にかかる料金、税金、その他の費用は合計金額には含まれていません
            dt.pol__sttl 配送先の国
            dd.pol__txt 日本国内のみ
            dd.pol__txt <span>通常の配送料金：</span>￥1,000
            dt.pol__sttl 支払方法
            dd.pol__txt ・PayPal (クレジットカード・銀行振り込み）
                br
                | ペイパルアカウントにクレジットカード、デビットカードを登録するか、銀行の口座振替設定を行うだけで、IDとパスワードのみでの取引が可能になります。お支払い情報をお店側に伝えることなく安全にご利用いただけます。新規登録も無料。クレジットカード・デビットカードはご購入画面から、銀行口座はペイパルのホームページから設定できます。決済の入力画面は ペイパルへ移行し、入力が完了すると自動的にこのページへ戻ります。
            dd.pol__txt ・銀行振込み
            dd.pol__txt ・代金引換
                br
                | 注意：代金引換の際は、配送業者への手数料が別途発生いたします。


block ftr
    include include/_footer-b.pug

html/haisou.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="noindex, nofollow">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:title" content="@username">
    <meta name="twitter:image" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:image" content="">
    <link rel="apple-touch-icon" sizes="57x57" href="">
    <link rel="apple-touch-icon" sizes="60x60" href="">
    <title>LLOYD'S coffee OnlineStore</title><link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Raleway|Sawarabi+Mincho&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <header class="header" id="header">
        <h1 class="hdr__ttl"><img class="hdr__logo" src="../img/logo1.svg" alt="LLoyd's Coffee"></h1>
        <h2 class="store__ttl">ONLINE STORE</h2>
        <nav class="gnav" id="gnav">
          <ul class="gnav__item">
            <li><a class="gnav__link" href="index.html">top</a></li>
            <li><a class="gnav__link" href="store.html">OnlineStore</a></li>
            <li><a class="gnav__link" href="coffee.html">商品情報</a></li>
            <li><a class="gnav__link" href="shop.html">店舗情報</a></li>
            <li><a class="gnav__link" href="company.html">会社概要</a></li>
            <li><a class="gnav__link" href="privacy.html">プライバシーポリシー</a></li>
            <li><a class="gnav__link" href="cookie.html">Cookieポリシー</a></li>
            <li><a class="gnav__link" href="contact.html">お問い合わせ</a></li>
          </ul>
        </nav>
        <button class="hdr__btn" id="hdr__btn"><span class="hdr__btn-a"></span><span class="hdr__btn-b"></span><span class="hdr__btn-c"></span></button>
      </header>
      <main class="main" id="main">
        <div class="pol">
          <dl>
            <dt class="pol__sttl">配送料に関する情報</dt>
            <dd class="pol__txt">お荷物のサイズや地域によって送料が異なりますので、その場合はご注文後修正した送料をご連絡いたします。先に送料を確認されたい場合は、事前にお問合せフォームもしくはメールにてご連絡ください。</dd>
            <dt class="pol__sttl">国際配送に関する注意事項</dt>
            <dd class="pol__txt">国際配送にかかる料金、税金、その他の費用は合計金額には含まれていません</dd>
            <dt class="pol__sttl">配送先の国</dt>
            <dd class="pol__txt">日本国内のみ</dd>
            <dd class="pol__txt"><span>通常の配送料金：</span>￥1,000</dd>
            <dt class="pol__sttl">支払方法</dt>
            <dd class="pol__txt">・PayPal (クレジットカード・銀行振り込み）<br>ペイパルアカウントにクレジットカード、デビットカードを登録するか、銀行の口座振替設定を行うだけで、IDとパスワードのみでの取引が可能になります。お支払い情報をお店側に伝えることなく安全にご利用いただけます。新規登録も無料。クレジットカード・デビットカードはご購入画面から、銀行口座はペイパルのホームページから設定できます。決済の入力画面は ペイパルへ移行し、入力が完了すると自動的にこのページへ戻ります。</dd>
            <dd class="pol__txt">・銀行振込み</dd>
            <dd class="pol__txt">・代金引換<br>注意：代金引換の際は、配送業者への手数料が別途発生いたします。</dd>
          </dl>
        </div>
      </main>
      <footer class="footer-b" id="footer">
        <div class="ftr1">
          <div class="ftr-icon">
            <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../img/instd.png"></a></div>
            <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../img/fbd.png"></a></div>
            <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../img/twid.png"></a></div>
            <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../img/lloydsd.png"></a></div>
          </div>
          <h2 class="ftr__name">ロイズコーヒーユニオン株式会社</h2>
          <address class="ftr__add">〒062-0034<br>北海道札幌市豊平区西岡4条10丁目7-1<br>TEL：011-855-3939<br>FAX：011-855-3939<br>e-mail：lloydszimu84@gmail.com</address>
        </div>
        <div class="ftr2">
          <p class="ftr__etc"><a class="ftr__link" href="privacy.html">プライバシーポリシー</a><br><a class="ftr__link" href="torihiki.html">特定商取引法に関する法率に基づく表示</a><br><a class="ftr__link" href="haisou.html">配送・支払いについて</a><br><a class="ftr__link" href="contact.html">お問い合わせ</a></p>
          <p class="ftr__copy"><small>© 2020 lloyds coffee union Inc. All rights reserved.</small></p>
        </div>
      </footer>
    </div>
    <!-- ここから下にjsファイル設置--><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../js/function.js"></script>
  </body>
</html>
