pug/index.pug
extend include/_temp.pug

//- 商品用
mixin item(name, price)
    .item: a.item__link(href="store-item.html")
        img.item__img(src="../img/pack.jpg", alt="item")
        p.item__name #{name}
        p.item__price ￥ #{price} /100g
mixin togo
    p.sec2__togo 詳細へ


block head
    title トップページ
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Raleway|Sawarabi+Mincho&display=swap" rel="stylesheet">


block contents
    .top-mv
        img.top-mv__logo(src="../img/logo1-white.svg", alt="logo")
    .main-bg
        .main-cont
            section.top
                h2.top__ttl 老舗ならではの技術と味をお届けします。
                p.top__txt 1985年の創業以来コーヒー豆のブレンドにこだわりました。
                    br
                    | 特長のあるブレンドに合わせる為に、焙煎機はドイツPROBAT社の焙煎機を導入。
                    br
                    | 深煎りで適度な苦味とコクを出し、後味がすっきりしたマイルドブレンドを創り上げました。
            .sec2
                .sec2__shop: a.sec2__link(href="shop.html")
                    p.sec2__name 店舗紹介
                    p.sec2__txt インストラクターやバリスタの資格を取得した当店自慢のスタッフ達が、当社のコーヒーをより美味しく召し上がって頂く為のお手伝いを致します。
                    +togo
                .sec2__coffee: a.sec2__link(href="coffee.html")
                    p.sec2__name 商品紹介
                    p.sec2__txt 当社自慢のブレンドコーヒー、その種類や味、製法をご紹介します。
                    +togo
            section.sec3
                .sec3-ttl
                    h2.sec3__name ONLINE STORE
                    p.sec3__txt 遠方のお客様の為に、オンラインストアから直接コーヒー豆等の販売をさせて頂きます。
                .sec3-item
                    +item('マイルドブレンド', '1,060' )
                    +item('オリジナルブレンド', '1,020' )
                    +item('ロイズブレンド', '980' )
                    +item('エチオピアモカブレンド', '1,220' )
                    +item('ブルーマウンテンNO1ブレンド', '3,060' )
                    p.sec3__txt and more...
                .sec3-link
                    p.sec3__txt ほかの商品を見る
                    p.sec3__to
                        a.sec3__togo(href="store.html") ONLINE STORE

block ftr
    include include/_footer-a.pug

html/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="noindex, nofollow">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:title" content="@username">
    <meta name="twitter:image" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:image" content="">
    <link rel="apple-touch-icon" sizes="57x57" href="">
    <link rel="apple-touch-icon" sizes="60x60" href="">
    <title>トップページ</title><link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Raleway|Sawarabi+Mincho&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <header class="header" id="header">
        <h1 class="hdr__ttl"><img class="hdr__logo" src="../img/logo1.svg" alt="LLoyd's Coffee"></h1>
        <nav class="gnav" id="gnav">
          <ul class="gnav__item">
            <li><a class="gnav__link" href="index.html">top</a></li>
            <li><a class="gnav__link" href="store.html">OnlineStore</a></li>
            <li><a class="gnav__link" href="coffee.html">商品情報</a></li>
            <li><a class="gnav__link" href="shop.html">店舗情報</a></li>
            <li><a class="gnav__link" href="company.html">会社概要</a></li>
            <li><a class="gnav__link" href="privacy.html">プライバシーポリシー</a></li>
            <li><a class="gnav__link" href="cookie.html">Cookieポリシー</a></li>
            <li><a class="gnav__link" href="contact.html">お問い合わせ</a></li>
          </ul>
        </nav>
        <button class="hdr__btn" id="hdr__btn"><span class="hdr__btn-a"></span><span class="hdr__btn-b"></span><span class="hdr__btn-c"></span></button>
      </header>
      <main class="main" id="main">
        <div class="top-mv"><img class="top-mv__logo" src="../img/logo1-white.svg" alt="logo"></div>
        <div class="main-bg">
          <div class="main-cont">
            <section class="top">
              <h2 class="top__ttl">老舗ならではの技術と味をお届けします。</h2>
              <p class="top__txt">1985年の創業以来コーヒー豆のブレンドにこだわりました。<br>特長のあるブレンドに合わせる為に、焙煎機はドイツPROBAT社の焙煎機を導入。<br>深煎りで適度な苦味とコクを出し、後味がすっきりしたマイルドブレンドを創り上げました。</p>
            </section>
            <div class="sec2">
              <div class="sec2__shop"><a class="sec2__link" href="shop.html">
                  <p class="sec2__name">店舗紹介</p>
                  <p class="sec2__txt">インストラクターやバリスタの資格を取得した当店自慢のスタッフ達が、当社のコーヒーをより美味しく召し上がって頂く為のお手伝いを致します。</p>
                  <p class="sec2__togo">詳細へ</p></a></div>
              <div class="sec2__coffee"><a class="sec2__link" href="coffee.html">
                  <p class="sec2__name">商品紹介</p>
                  <p class="sec2__txt">当社自慢のブレンドコーヒー、その種類や味、製法をご紹介します。</p>
                  <p class="sec2__togo">詳細へ</p></a></div>
            </div>
            <section class="sec3">
              <div class="sec3-ttl">
                <h2 class="sec3__name">ONLINE STORE</h2>
                <p class="sec3__txt">遠方のお客様の為に、オンラインストアから直接コーヒー豆等の販売をさせて頂きます。</p>
              </div>
              <div class="sec3-item">
                <div class="item"><a class="item__link" href="store-item.html"><img class="item__img" src="../img/pack.jpg" alt="item"/>
                    <p class="item__name">マイルドブレンド</p>
                    <p class="item__price">￥ 1,060 /100g</p></a></div>
                <div class="item"><a class="item__link" href="store-item.html"><img class="item__img" src="../img/pack.jpg" alt="item"/>
                    <p class="item__name">オリジナルブレンド</p>
                    <p class="item__price">￥ 1,020 /100g</p></a></div>
                <div class="item"><a class="item__link" href="store-item.html"><img class="item__img" src="../img/pack.jpg" alt="item"/>
                    <p class="item__name">ロイズブレンド</p>
                    <p class="item__price">￥ 980 /100g</p></a></div>
                <div class="item"><a class="item__link" href="store-item.html"><img class="item__img" src="../img/pack.jpg" alt="item"/>
                    <p class="item__name">エチオピアモカブレンド</p>
                    <p class="item__price">￥ 1,220 /100g</p></a></div>
                <div class="item"><a class="item__link" href="store-item.html"><img class="item__img" src="../img/pack.jpg" alt="item"/>
                    <p class="item__name">ブルーマウンテンNO1ブレンド</p>
                    <p class="item__price">￥ 3,060 /100g</p></a></div>
                <p class="sec3__txt">and more...</p>
              </div>
              <div class="sec3-link">
                <p class="sec3__txt">ほかの商品を見る</p>
                <p class="sec3__to"><a class="sec3__togo" href="store.html">ONLINE STORE</a></p>
              </div>
            </section>
          </div>
        </div>
      </main>
      <footer class="footer-a" id="footer">
        <div class="ftr1">
          <div class="ftr-icon">
            <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../img/inst.png"></a></div>
            <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../img/fb.png"></a></div>
            <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../img/twi.png"></a></div>
          </div>
          <h2 class="ftr__name ftr__col">ロイズコーヒーユニオン株式会社</h2>
          <address class="ftr__add ftr__col">〒062-0034<br>北海道札幌市豊平区西岡4条10丁目7-1<br>TEL：011-855-3939<br>FAX：011-855-3939<br>e-mail：lloydszimu84@gmail.com</address>
        </div>
        <div class="ftr2">
          <p class="ftr__etc"><a class="ftr__link ftr__col" href="company.html">会社概要</a><a class="ftr__link ftr__col" href="privacy.html">プライバシーポリシー</a><a class="ftr__link ftr__col" href="cookie.html">cookie</a><a class="ftr__link ftr__col" href="contact.html">お問い合わせ</a></p>
          <p class="ftr__copy"><small class="ftr__col">© 2020 lloyds coffee union Inc. All rights reserved.</small></p>
        </div>
      </footer>
    </div>
    <!-- ここから下にjsファイル設置--><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../js/function.js"></script>
  </body>
</html>
