pug/privacy.pug
extend include/_temp.pug
block head
    title privacy policy
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Raleway|Sawarabi+Mincho&display=swap" rel="stylesheet">

block contents
    .pol
        h2.pol__ttl プライバシーポリシー
        h3.pol__sttl Google アナリティクスの補足
        p.pol__txt このホームページは Google が提供するウェブ解析サービス「Google アナリティクス」を使用しています。Google アナリティクスは、ホームページの利用状況をウェブ解析するため、Cookie（クッキー）を使用しています。
            br
            |Cookie とは、お客様のコンピューター上に置かれるテキストファイルのことをいいます。Cookie によって生成されるお客様のホームページ利用情報（お客様の IP アドレスを含む）は、アメリカ合衆国のサーバーに送信、保管します。
            br
            |Google は、お客様の行動に関するこれらの匿名化された情報を、お客様によるホームページの利用を評価するため、ホームページ運営者のためにホームページ活動報告を収集するため、およびホームページの活動およびインターネットの利用に関連のある他のサービスを提供するために使用します。また Google は、上記のほかにも、これらの情報を、法律の規定に基づいて情報を提供すべき第三者もしくは Google のために情報を処理する第三者がいる場合には当該第三者に対して提供することがあります。
            br
            |Google は、お客様の IP アドレスと Google が保有する他のデータを関連付けることはありません。お客様は、ご使用のブラウザで適切な設定を選択して Cookie の使用を拒否できますが、その場合、本ホームページの完全な機能が利用できない場合がありますのでご注意ください。本ホームページの利用があったときは、Google が上記の方法および目的でお客様に関するデータを処理することについて、お客様の同意があったものとみなします。またプラグインをインストールすると Cookie や IP アドレスの収集を防ぐこともできます：
            a.pol__link(href="http://tools.google.com/dlpage/gaoptout") http://tools.google.com/dlpage/gaoptout
        
        p.pol__txt Google アナリティクスによるデータの使用を無効にするにはこちらをクリックしてください。無効にすることで、今後このホームページはあなたのデータを収集しません。
        
        p.pol__txt 利用規約とプライバシーポリシーの詳細につきましては以下のURLにてご確認ください。
        p.pol__txt
            a.pol__link(href="https://www.google.com/analytics/terms/jp.html") Google アナリティクス サービス利用規約
            | / 
            a.pol__link(href="https://www.google.com/analytics/learn/privacy.html") Google のプライバシー ポリシー. 
        p.pol__txt このホームページでは、IPアドレスの匿名化（IPマスキング）を確実に実行するため、Google Analyticsを「gat._anonymizeIp();」コードで拡張しています。
        h3.pol__sttl reCAPTCHA
        p.pol__txt このホームページはインターネット上のフォームへ投稿されるスパムなどからサイトを守るため、Google Inc.（グーグル）が提供している reCAPTCHA サービスを採用しています。このサービスは投稿者が人間なのかロボットなのかを判定するもので、GoogleはIPアドレスの取得を含むその他のデータをこのサービスのために収集します。またこの目的のため、入力されたデータはGoogleによって利用されます。ただし、EUまたは欧州経済領域の場合、IPアドレスはあらかじめ匿名化されます。例外的なケースとして、USでは IPアドレスがGoogleに送信されたあとに匿名化されます。
        p.pol__txt Googleはお客様によるサイトの利用を評価するため、サイトの運営者に代わって、この情報を利用します。
        p.pol__txt お客様のブラウザからreCAPTCHAによって収集されたIPアドレスとGoogleが保有する他のデータを関連付けることはありません。
            br
            | このデータ収集はGoogleのデータ保護規則のもと行われています。
            br
            | Googleプライバシーポリシーの詳細については以下のURLにてご確認ください。
            a.pol__link(href="https://policies.google.com/polvacy?hl=ja") https://policies.google.com/privacy?hl=ja
            br
            | reCAPTCHA サービスを利用することによって、上述したGoogleの目的およびデータ収集に同意したことになります。
block ftr
    include include/_footer.pug

html/privacy.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="noindex, nofollow">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:title" content="@username">
    <meta name="twitter:image" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:image" content="">
    <link rel="apple-touch-icon" sizes="57x57" href="">
    <link rel="apple-touch-icon" sizes="60x60" href="">
    <title>privacy policy</title><link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Raleway|Sawarabi+Mincho&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <header class="header" id="header">
        <h1 class="hdr__ttl"><img class="hdr__logo" src="../img/logo1.svg" alt="LLoyd's Coffee"></h1>
        <nav class="gnav" id="gnav">
          <ul class="gnav__item">
            <li><a class="gnav__link" href="index.html">top</a></li>
            <li><a class="gnav__link" href="store.html">OnlineStore</a></li>
            <li><a class="gnav__link" href="coffee.html">商品情報</a></li>
            <li><a class="gnav__link" href="shop.html">店舗情報</a></li>
            <li><a class="gnav__link" href="company.html">会社概要</a></li>
            <li><a class="gnav__link" href="privacy.html">プライバシーポリシー</a></li>
            <li><a class="gnav__link" href="cookie.html">Cookieポリシー</a></li>
            <li><a class="gnav__link" href="contact.html">お問い合わせ</a></li>
          </ul>
        </nav>
        <button class="hdr__btn" id="hdr__btn"><span class="hdr__btn-a"></span><span class="hdr__btn-b"></span><span class="hdr__btn-c"></span></button>
      </header>
      <main class="main" id="main">
        <div class="pol">
          <h2 class="pol__ttl">プライバシーポリシー</h2>
          <h3 class="pol__sttl">Google アナリティクスの補足</h3>
          <p class="pol__txt">このホームページは Google が提供するウェブ解析サービス「Google アナリティクス」を使用しています。Google アナリティクスは、ホームページの利用状況をウェブ解析するため、Cookie（クッキー）を使用しています。<br>Cookie とは、お客様のコンピューター上に置かれるテキストファイルのことをいいます。Cookie によって生成されるお客様のホームページ利用情報（お客様の IP アドレスを含む）は、アメリカ合衆国のサーバーに送信、保管します。<br>Google は、お客様の行動に関するこれらの匿名化された情報を、お客様によるホームページの利用を評価するため、ホームページ運営者のためにホームページ活動報告を収集するため、およびホームページの活動およびインターネットの利用に関連のある他のサービスを提供するために使用します。また Google は、上記のほかにも、これらの情報を、法律の規定に基づいて情報を提供すべき第三者もしくは Google のために情報を処理する第三者がいる場合には当該第三者に対して提供することがあります。<br>Google は、お客様の IP アドレスと Google が保有する他のデータを関連付けることはありません。お客様は、ご使用のブラウザで適切な設定を選択して Cookie の使用を拒否できますが、その場合、本ホームページの完全な機能が利用できない場合がありますのでご注意ください。本ホームページの利用があったときは、Google が上記の方法および目的でお客様に関するデータを処理することについて、お客様の同意があったものとみなします。またプラグインをインストールすると Cookie や IP アドレスの収集を防ぐこともできます：<a class="pol__link" href="http://tools.google.com/dlpage/gaoptout">http://tools.google.com/dlpage/gaoptout</a></p>
          <p class="pol__txt">Google アナリティクスによるデータの使用を無効にするにはこちらをクリックしてください。無効にすることで、今後このホームページはあなたのデータを収集しません。</p>
          <p class="pol__txt">利用規約とプライバシーポリシーの詳細につきましては以下のURLにてご確認ください。</p>
          <p class="pol__txt"><a class="pol__link" href="https://www.google.com/analytics/terms/jp.html">Google アナリティクス サービス利用規約</a>/ <a class="pol__link" href="https://www.google.com/analytics/learn/privacy.html">Google のプライバシー ポリシー. </a></p>
          <p class="pol__txt">このホームページでは、IPアドレスの匿名化（IPマスキング）を確実に実行するため、Google Analyticsを「gat._anonymizeIp();」コードで拡張しています。</p>
          <h3 class="pol__sttl">reCAPTCHA</h3>
          <p class="pol__txt">このホームページはインターネット上のフォームへ投稿されるスパムなどからサイトを守るため、Google Inc.（グーグル）が提供している reCAPTCHA サービスを採用しています。このサービスは投稿者が人間なのかロボットなのかを判定するもので、GoogleはIPアドレスの取得を含むその他のデータをこのサービスのために収集します。またこの目的のため、入力されたデータはGoogleによって利用されます。ただし、EUまたは欧州経済領域の場合、IPアドレスはあらかじめ匿名化されます。例外的なケースとして、USでは IPアドレスがGoogleに送信されたあとに匿名化されます。</p>
          <p class="pol__txt">Googleはお客様によるサイトの利用を評価するため、サイトの運営者に代わって、この情報を利用します。</p>
          <p class="pol__txt">お客様のブラウザからreCAPTCHAによって収集されたIPアドレスとGoogleが保有する他のデータを関連付けることはありません。<br>このデータ収集はGoogleのデータ保護規則のもと行われています。<br>Googleプライバシーポリシーの詳細については以下のURLにてご確認ください。<a class="pol__link" href="https://policies.google.com/polvacy?hl=ja">https://policies.google.com/privacy?hl=ja</a><br>reCAPTCHA サービスを利用することによって、上述したGoogleの目的およびデータ収集に同意したことになります。</p>
        </div>
      </main>
      <footer class="footer" id="footer">
        <p class="ftr__copy"><small>© 2020 lloyds coffee union Inc. All rights reserved.</small></p>
      </footer>
    </div>
    <!-- ここから下にjsファイル設置--><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../js/function.js"></script>
  </body>
</html>
