pug/shop.pug
extend include/_temp.pug

//- 商品用
mixin insta(name, acount)
    .insta
        h3.insta__ttl Instagram
        h4.insta__name #{name}
        p.insta__acount #{acount}
        .insta__b
            .insta__pic: img.insta__img(src="../img/lloyds-7369.jpg", alt="insta")
            .insta__pic: img.insta__img(src="../img/014.jpg", alt="insta")
            .insta__pic: img.insta__img(src="../img/lloyds-7468.jpg", alt="insta")
            .insta__pic: img.insta__img(src="../img/lloyds-7600.jpg", alt="insta")

mixin menulist(menu, kana)
    li.shop-menu__list 
        p.shop-menu__name #{menu} <span>#{kana}</span>
        p.shop-menu__price ・・・¥ 500

mixin menuitem(ttl)
    .shop-menu__b
        h4.shop-menu__sttl #{ttl}
        ul.shop-menu__item
            if block
                block
            else
                li.shop-menu__list No content


block head
    title 店舗紹介
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Raleway|Sawarabi+Mincho&display=swap" rel="stylesheet">

block hdr
    nav.nav
        ul.nav__item
            li.nav__list: a.nav__link(href="#otaru") 小樽店
            li.nav__list: a.nav__link(href="#nisioka") 西岡店
            li.nav__list: a.nav__link(href="#car") LLoyd's<br>Car
block contents
    section.shop#otaru
        .page-mv: img.page-mv__img(src="../img/lloyds-7349.jpg", alt="otaru")
        .page-cont
            .shop-cont
                h2.shop__ttl LLOYD'S COFFEE
                    br
                    | 小樽店
                p.shop__txt 大きな窓から小樽の海とヨットマリーナを眺める事ができるカウンター席が人気のカフェ店舗です。
                    br
                    | トレーニングを受けたスタッフ達がハンドドリップで落としたコーヒーや、エスプレッソマシーンを使って作るカフェラテなど、開放感のある店内でお楽しみください。
                +insta("LLOYD'S COFFEE 小樽店", "@lloyds_coffee_otaru")
            article.shop-menu
                h3.shop-menu__ttl menu
                //- .shop-menu__pic
                //-     img.shop-menu__img(src="../img/020.jpg", alt="coffee")
                +menuitem("Original Blend")
                    +menulist("Mild Blend","（マイルドブレンド）")
                    +menulist("Lloyd's Blend","（ロイズブレンド）")
                    +menulist("Mocha Blend","（モカブレンド）")
                    +menulist("Blue Mt No1 Blend","（NO.1ブレンド）")
                    +menulist("Other","（その他）")
                +menuitem("Espresso <span>and</span> Arrange Coffee")
                    +menulist("Caffe latte","（カフェラテ）")
                    +menulist("Caffe au lait","（カフェオレ）")
                    +menulist("Honey latte","（ハニーラテ）")
                    +menulist("Vienna Coffee","（ウィンナーコーヒー）")
                    +menulist("Other","（その他）")
                +menuitem("Other Beverage")
                    +menulist("Tea","（紅茶）")
                    +menulist("Cocoa","（ココア）")
                    +menulist("Strawberry Milk","（ストロベリーミルク）")
                    +menulist("Orange Juice","（オレンジジュース）")
                    +menulist("Other","（その他）")
                +menuitem("Homemade Cake")
                    +menulist("Cheesecake","（チーズケーキ）")
                    +menulist("Gateau au chocolat","（ガトーショコラ）")
                    p.shop-menu__txt ※ケーキは全て店内で手作りをしています。季節によってケーキの種類が変更になる事がありますので、ご了承ください。
                +menuitem("Garette & Crape")
                    +menulist("Garette Complte","（ガレットコンプレット）")
                    +menulist("Garette Raw ham & Parmesan Cheese salad","（ガレット生ハムとパルメザンチーズ）")
                    +menulist("Crape Sugar Butter","（クレープシュガーバター）")
                    +menulist("Crape Banana & Espresso cream","（クレープバナナとエスプレッソクリーム）")
                    +menulist("Other","（その他）")
                +menuitem("Other Foods")
                    +menulist("Croissant","（クロワッサン）")
                    +menulist("Croissant sand Ham & Cheese","（クロワッサンサンド ハムとチーズ）")
                    +menulist("Croissant sand Espresso cream","（クロワッサンサンド エスプレッソクリーム）")
                    +menulist("Gelato (Dgelato)","（ジェラート）")
                    +menulist("Other","（その他）")
                +menuitem("Selling beans")
                    p.shop-menu__txt コーヒー豆の店頭販売も行っております。詳しくはスタッフまで。
            button.shop-menu__btn
            article.shop-data
                h3.shop-data__ttl STORE DATA
                h4.shop-data__sttl 【営業時間】
                p.shop-data__txt 10：30 ～ 19：00<span>（Lo：フード18:00、ドリンク18:30）</span>
                p.shop-data__txt <span>（年末年始は変更有）</span>
                h4.shop-data__sttl 【定休日】
                p.shop-data__txt 元日
                .shop-data__map: <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5818.4663506456955!2d141.024476!3d43.183618!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4c25a5bcbf32042!2zTExPWUQnUyBDT0ZGRUUg5bCP5qi95bqX!5e0!3m2!1sja!2sus!4v1580279851282!5m2!1sja!2sus" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                h4.shop-data__sttl 【ADO＆TEL】
                p.shop-data__txt 北海道小樽市築港11-1 ウイングベイ小樽3番街1階
                p.shop-data__txt TEL：0134-21-7164
                h4.shop-data__sttl 【JRをご利用の場合】
                p.shop-data__txt ・JR札幌駅～JR小樽築港駅　快速で約25分
                p.shop-data__txt ・JR小樽駅～JR小樽築港駅　約6分
                p.shop-data__txt ※JR小樽築港駅直結徒歩5分
                h4.shop-data__sttl 【車をご利用の場合】
                p.shop-data__txt ・札幌～小樽間　札樽自動車道（高速道路）使用で約30分
                p.shop-data__txt ・札幌～小樽間　一般道路使用で約45分
                p.shop-data__txt ※お車でお越しのお客様はウィングベイ小樽内駐車場をご利用下さい

    section.shop#nisioka
        .page-mv: img.page-mv__img(src="../img/lloyds-7349.jpg", alt="otaru")
        .page-cont
            .shop-cont
                h2.shop__ttl LLOYD'S COFFEE
                    br
                    | 西岡店
                p.shop__txt 国の登録有形文化財（沼田家住宅旧第二りんご倉庫）を、コーヒー豆売り専門店と致しました。
                    br
                    | 専門店ならではの上質なコーヒー豆を100ｇから ご購入頂く事ができます。
                +insta("LLOYD'S COFFEE 西岡店", "@lloyds_coffee_nisioka")
            article.shop-menu
                h3.shop-menu__ttl menu
                //- .shop-menu__pic
                //-     img.shop-menu__img(src="../img/020.jpg", alt="coffee")
                +menuitem("Take out Menu")
                    +menulist("Hot Coffee","（水出しホットコーヒー）")
                    +menulist("Ice Coffee","（水出しアイスコーヒー）")
                    p.shop-menu__txt: em 西岡店のTake out Menuは、全て水出しコーヒーです。
                    p.shop-menu__txt 水を使ってゆっくりと時間をかけて抽出する為、良質な甘味と柔らかい苦みが特徴として引き出されて嫌な苦みやエグみが抑えられています。
                        br
                        |またカフェインは水に溶けにくい性質がある為、お湯で入れたコーヒーよりもカフェインの量が少なくなります。
                        br
                        |西岡店の水出しコーヒーは、当社で水出しコーヒー用にブレンドした特別な豆を 24時間水に漬けて抽出する為、他店舗では味わえない特別なコーヒーに仕上がっております。
                +menuitem("Original Blend")
                    +menulist("Mild Blend","（マイルドブレンド）")
                    +menulist("Lloyd's Blend","（ロイズブレンド）")
                    +menulist("Mocha Blend","（エチオピアモカブレンド）")
                    +menulist("Blue Mt No1 Blend","（ブルーマウンテンNO.1ブレンド）")
                    +menulist("Other","（その他）")
                +menuitem("Straight Coffee")
                    +menulist("Blue Mt No1","（ブルーマウンテンNO.1）")
                    +menulist("Kilimanjaro AA","（キリマンジャロAA）")
                    +menulist("Ethiopia mocha","（エチオピアモカ）")
                    +menulist("Manderin G1","（マンデリンG1）")
                    +menulist("Guatemala SHB","（グァテマラSHB）")
            button.shop-menu__btn
            article.shop-data
                h3.shop-data__ttl STORE DATA
                h4.shop-data__sttl 【営業時間】
                p.shop-data__txt 月曜･土曜･･･10:00～13:00 、 14:00～17:00
                p.shop-data__txt 火曜･水曜･金曜･･･10:00～15:00
                h4.shop-data__sttl 【定休日】
                p.shop-data__txt 木曜、日曜、年末年始
                .shop-data__map: <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5835.88958819619!2d141.382997!3d43.000497!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x64b793fa2377171f!2zTExPWUQnUyBDT0ZGRUXopb_lsqHlupc!5e0!3m2!1sja!2sus!4v1580280507613!5m2!1sja!2sus" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                h4.shop-data__sttl 【ADO＆TEL】
                p.shop-data__txt 北海道札幌市豊平区西岡4条10丁目7-1　※沼田家住宅旧第二りんご倉庫
                p.shop-data__txt TEL：011-855-3939

    section.shop#car
        .page-mv: img.page-mv__img(src="../img/lloyds-7349.jpg", alt="LLOYD'S Car")
        .page-cont
            .shop-cont
                h2.shop__ttl LLOYD'S Car
                p.shop__txt 国の登録有形文化財（沼田家住宅旧第二りんご倉庫）を、コーヒー豆売り専門店と致しました。
                    br
                    | 専門店ならではの上質なコーヒー豆を100ｇから ご購入頂く事ができます。
            article.shop-menu
                h3.shop-menu__ttl menu
                //- .shop-menu__pic
                //-     img.shop-menu__img(src="../img/020.jpg", alt="coffee")
                +menuitem("Take out Menu")
                    +menulist("Hot Coffee","（水出しホットコーヒー）")
                    +menulist("Ice Coffee","（水出しアイスコーヒー）")
                    p.shop-menu__txt: em 西岡店のTake out Menuは、全て水出しコーヒーです。
                    p.shop-menu__txt 水を使ってゆっくりと時間をかけて抽出する為、良質な甘味と柔らかい苦みが特徴として引き出されて嫌な苦みやエグみが抑えられています。
                        br
                        |またカフェインは水に溶けにくい性質がある為、お湯で入れたコーヒーよりもカフェインの量が少なくなります。
                        br
                        |西岡店の水出しコーヒーは、当社で水出しコーヒー用にブレンドした特別な豆を 24時間水に漬けて抽出する為、他店舗では味わえない特別なコーヒーに仕上がっております。
                +menuitem("Original Blend")
                    +menulist("Mild Blend","（マイルドブレンド）")
                    +menulist("Lloyd's Blend","（ロイズブレンド）")
                    +menulist("Mocha Blend","（エチオピアモカブレンド）")
                    +menulist("Blue Mt No1 Blend","（ブルーマウンテンNO.1ブレンド）")
                    +menulist("Other","（その他）")
            button.shop-menu__btn
            article.shop-data
                h3.shop-data__ttl STORE DATA
                h4.shop-data__sttl 【営業時間】
                p.shop-data__txt 月曜･土曜･･･10:00～13:00 、 14:00～17:00
                p.shop-data__txt 火曜･水曜･金曜･･･10:00～15:00
                h4.shop-data__sttl 【定休日】
                p.shop-data__txt 木曜、日曜、年末年始
                h4.shop-data__sttl 【ADO＆TEL】
                p.shop-data__txt 北海道札幌市豊平区西岡4条10丁目7-1　※沼田家住宅旧第二りんご倉庫
                p.shop-data__txt TEL：011-855-3939


block ftr
    include include/_footer-a.pug

html/shop.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="noindex, nofollow">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:title" content="@username">
    <meta name="twitter:image" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:image" content="">
    <link rel="apple-touch-icon" sizes="57x57" href="">
    <link rel="apple-touch-icon" sizes="60x60" href="">
    <title>店舗紹介</title><link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Raleway|Sawarabi+Mincho&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <header class="header" id="header">
        <h1 class="hdr__ttl"><img class="hdr__logo" src="../img/logo1.svg" alt="LLoyd's Coffee"></h1>
        <nav class="nav">
          <ul class="nav__item">
            <li class="nav__list"><a class="nav__link" href="#otaru">小樽店</a></li>
            <li class="nav__list"><a class="nav__link" href="#nisioka">西岡店</a></li>
            <li class="nav__list"><a class="nav__link" href="#car">LLoyd's<br>Car</a></li>
          </ul>
        </nav>
        <nav class="gnav" id="gnav">
          <ul class="gnav__item">
            <li><a class="gnav__link" href="index.html">top</a></li>
            <li><a class="gnav__link" href="store.html">OnlineStore</a></li>
            <li><a class="gnav__link" href="coffee.html">商品情報</a></li>
            <li><a class="gnav__link" href="shop.html">店舗情報</a></li>
            <li><a class="gnav__link" href="company.html">会社概要</a></li>
            <li><a class="gnav__link" href="privacy.html">プライバシーポリシー</a></li>
            <li><a class="gnav__link" href="cookie.html">Cookieポリシー</a></li>
            <li><a class="gnav__link" href="contact.html">お問い合わせ</a></li>
          </ul>
        </nav>
        <button class="hdr__btn" id="hdr__btn"><span class="hdr__btn-a"></span><span class="hdr__btn-b"></span><span class="hdr__btn-c"></span></button>
      </header>
      <main class="main" id="main">
        <section class="shop" id="otaru">
          <div class="page-mv"><img class="page-mv__img" src="../img/lloyds-7349.jpg" alt="otaru"></div>
          <div class="page-cont">
            <div class="shop-cont">
              <h2 class="shop__ttl">LLOYD'S COFFEE<br>小樽店</h2>
              <p class="shop__txt">大きな窓から小樽の海とヨットマリーナを眺める事ができるカウンター席が人気のカフェ店舗です。<br>トレーニングを受けたスタッフ達がハンドドリップで落としたコーヒーや、エスプレッソマシーンを使って作るカフェラテなど、開放感のある店内でお楽しみください。</p>
              <div class="insta">
                <h3 class="insta__ttl">Instagram</h3>
                <h4 class="insta__name">LLOYD'S COFFEE 小樽店</h4>
                <p class="insta__acount">@lloyds_coffee_otaru</p>
                <div class="insta__b">
                  <div class="insta__pic"><img class="insta__img" src="../img/lloyds-7369.jpg" alt="insta"/></div>
                  <div class="insta__pic"><img class="insta__img" src="../img/014.jpg" alt="insta"/></div>
                  <div class="insta__pic"><img class="insta__img" src="../img/lloyds-7468.jpg" alt="insta"/></div>
                  <div class="insta__pic"><img class="insta__img" src="../img/lloyds-7600.jpg" alt="insta"/></div>
                </div>
              </div>
            </div>
            <article class="shop-menu">
              <h3 class="shop-menu__ttl">menu</h3>
              <div class="shop-menu__b">
                <h4 class="shop-menu__sttl">Original Blend</h4>
                <ul class="shop-menu__item">
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Mild Blend <span>（マイルドブレンド）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Lloyd's Blend <span>（ロイズブレンド）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Mocha Blend <span>（モカブレンド）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Blue Mt No1 Blend <span>（NO.1ブレンド）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Other <span>（その他）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                </ul>
              </div>
              <div class="shop-menu__b">
                <h4 class="shop-menu__sttl">Espresso &lt;span&gt;and&lt;/span&gt; Arrange Coffee</h4>
                <ul class="shop-menu__item">
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Caffe latte <span>（カフェラテ）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Caffe au lait <span>（カフェオレ）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Honey latte <span>（ハニーラテ）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Vienna Coffee <span>（ウィンナーコーヒー）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Other <span>（その他）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                </ul>
              </div>
              <div class="shop-menu__b">
                <h4 class="shop-menu__sttl">Other Beverage</h4>
                <ul class="shop-menu__item">
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Tea <span>（紅茶）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Cocoa <span>（ココア）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Strawberry Milk <span>（ストロベリーミルク）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Orange Juice <span>（オレンジジュース）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Other <span>（その他）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                </ul>
              </div>
              <div class="shop-menu__b">
                <h4 class="shop-menu__sttl">Homemade Cake</h4>
                <ul class="shop-menu__item">
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Cheesecake <span>（チーズケーキ）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Gateau au chocolat <span>（ガトーショコラ）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <p class="shop-menu__txt">※ケーキは全て店内で手作りをしています。季節によってケーキの種類が変更になる事がありますので、ご了承ください。</p>
                </ul>
              </div>
              <div class="shop-menu__b">
                <h4 class="shop-menu__sttl">Garette &amp; Crape</h4>
                <ul class="shop-menu__item">
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Garette Complte <span>（ガレットコンプレット）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Garette Raw ham &amp; Parmesan Cheese salad <span>（ガレット生ハムとパルメザンチーズ）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Crape Sugar Butter <span>（クレープシュガーバター）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Crape Banana &amp; Espresso cream <span>（クレープバナナとエスプレッソクリーム）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Other <span>（その他）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                </ul>
              </div>
              <div class="shop-menu__b">
                <h4 class="shop-menu__sttl">Other Foods</h4>
                <ul class="shop-menu__item">
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Croissant <span>（クロワッサン）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Croissant sand Ham &amp; Cheese <span>（クロワッサンサンド ハムとチーズ）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Croissant sand Espresso cream <span>（クロワッサンサンド エスプレッソクリーム）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Gelato (Dgelato) <span>（ジェラート）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Other <span>（その他）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                </ul>
              </div>
              <div class="shop-menu__b">
                <h4 class="shop-menu__sttl">Selling beans</h4>
                <ul class="shop-menu__item">
                  <p class="shop-menu__txt">コーヒー豆の店頭販売も行っております。詳しくはスタッフまで。</p>
                </ul>
              </div>
            </article>
            <button class="shop-menu__btn"></button>
            <article class="shop-data">
              <h3 class="shop-data__ttl">STORE DATA</h3>
              <h4 class="shop-data__sttl">【営業時間】</h4>
              <p class="shop-data__txt">10：30 ～ 19：00<span>（Lo：フード18:00、ドリンク18:30）</span></p>
              <p class="shop-data__txt"><span>（年末年始は変更有）</span></p>
              <h4 class="shop-data__sttl">【定休日】</h4>
              <p class="shop-data__txt">元日</p>
              <div class="shop-data__map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5818.4663506456955!2d141.024476!3d43.183618!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4c25a5bcbf32042!2zTExPWUQnUyBDT0ZGRUUg5bCP5qi95bqX!5e0!3m2!1sja!2sus!4v1580279851282!5m2!1sja!2sus" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
              <h4 class="shop-data__sttl">【ADO＆TEL】</h4>
              <p class="shop-data__txt">北海道小樽市築港11-1 ウイングベイ小樽3番街1階</p>
              <p class="shop-data__txt">TEL：0134-21-7164</p>
              <h4 class="shop-data__sttl">【JRをご利用の場合】</h4>
              <p class="shop-data__txt">・JR札幌駅～JR小樽築港駅　快速で約25分</p>
              <p class="shop-data__txt">・JR小樽駅～JR小樽築港駅　約6分</p>
              <p class="shop-data__txt">※JR小樽築港駅直結徒歩5分</p>
              <h4 class="shop-data__sttl">【車をご利用の場合】</h4>
              <p class="shop-data__txt">・札幌～小樽間　札樽自動車道（高速道路）使用で約30分</p>
              <p class="shop-data__txt">・札幌～小樽間　一般道路使用で約45分</p>
              <p class="shop-data__txt">※お車でお越しのお客様はウィングベイ小樽内駐車場をご利用下さい</p>
            </article>
          </div>
        </section>
        <section class="shop" id="nisioka">
          <div class="page-mv"><img class="page-mv__img" src="../img/lloyds-7349.jpg" alt="otaru"></div>
          <div class="page-cont">
            <div class="shop-cont">
              <h2 class="shop__ttl">LLOYD'S COFFEE<br>西岡店</h2>
              <p class="shop__txt">国の登録有形文化財（沼田家住宅旧第二りんご倉庫）を、コーヒー豆売り専門店と致しました。<br>専門店ならではの上質なコーヒー豆を100ｇから ご購入頂く事ができます。</p>
              <div class="insta">
                <h3 class="insta__ttl">Instagram</h3>
                <h4 class="insta__name">LLOYD'S COFFEE 西岡店</h4>
                <p class="insta__acount">@lloyds_coffee_nisioka</p>
                <div class="insta__b">
                  <div class="insta__pic"><img class="insta__img" src="../img/lloyds-7369.jpg" alt="insta"/></div>
                  <div class="insta__pic"><img class="insta__img" src="../img/014.jpg" alt="insta"/></div>
                  <div class="insta__pic"><img class="insta__img" src="../img/lloyds-7468.jpg" alt="insta"/></div>
                  <div class="insta__pic"><img class="insta__img" src="../img/lloyds-7600.jpg" alt="insta"/></div>
                </div>
              </div>
            </div>
            <article class="shop-menu">
              <h3 class="shop-menu__ttl">menu</h3>
              <div class="shop-menu__b">
                <h4 class="shop-menu__sttl">Take out Menu</h4>
                <ul class="shop-menu__item">
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Hot Coffee <span>（水出しホットコーヒー）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Ice Coffee <span>（水出しアイスコーヒー）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <p class="shop-menu__txt"><em>西岡店のTake out Menuは、全て水出しコーヒーです。</em></p>
                  <p class="shop-menu__txt">水を使ってゆっくりと時間をかけて抽出する為、良質な甘味と柔らかい苦みが特徴として引き出されて嫌な苦みやエグみが抑えられています。<br>またカフェインは水に溶けにくい性質がある為、お湯で入れたコーヒーよりもカフェインの量が少なくなります。<br>西岡店の水出しコーヒーは、当社で水出しコーヒー用にブレンドした特別な豆を 24時間水に漬けて抽出する為、他店舗では味わえない特別なコーヒーに仕上がっております。</p>
                </ul>
              </div>
              <div class="shop-menu__b">
                <h4 class="shop-menu__sttl">Original Blend</h4>
                <ul class="shop-menu__item">
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Mild Blend <span>（マイルドブレンド）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Lloyd's Blend <span>（ロイズブレンド）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Mocha Blend <span>（エチオピアモカブレンド）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Blue Mt No1 Blend <span>（ブルーマウンテンNO.1ブレンド）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Other <span>（その他）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                </ul>
              </div>
              <div class="shop-menu__b">
                <h4 class="shop-menu__sttl">Straight Coffee</h4>
                <ul class="shop-menu__item">
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Blue Mt No1 <span>（ブルーマウンテンNO.1）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Kilimanjaro AA <span>（キリマンジャロAA）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Ethiopia mocha <span>（エチオピアモカ）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Manderin G1 <span>（マンデリンG1）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Guatemala SHB <span>（グァテマラSHB）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                </ul>
              </div>
            </article>
            <button class="shop-menu__btn"></button>
            <article class="shop-data">
              <h3 class="shop-data__ttl">STORE DATA</h3>
              <h4 class="shop-data__sttl">【営業時間】</h4>
              <p class="shop-data__txt">月曜･土曜･･･10:00～13:00 、 14:00～17:00</p>
              <p class="shop-data__txt">火曜･水曜･金曜･･･10:00～15:00</p>
              <h4 class="shop-data__sttl">【定休日】</h4>
              <p class="shop-data__txt">木曜、日曜、年末年始</p>
              <div class="shop-data__map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5835.88958819619!2d141.382997!3d43.000497!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x64b793fa2377171f!2zTExPWUQnUyBDT0ZGRUXopb_lsqHlupc!5e0!3m2!1sja!2sus!4v1580280507613!5m2!1sja!2sus" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
              <h4 class="shop-data__sttl">【ADO＆TEL】</h4>
              <p class="shop-data__txt">北海道札幌市豊平区西岡4条10丁目7-1　※沼田家住宅旧第二りんご倉庫</p>
              <p class="shop-data__txt">TEL：011-855-3939</p>
            </article>
          </div>
        </section>
        <section class="shop" id="car">
          <div class="page-mv"><img class="page-mv__img" src="../img/lloyds-7349.jpg" alt="LLOYD'S Car"></div>
          <div class="page-cont">
            <div class="shop-cont">
              <h2 class="shop__ttl">LLOYD'S Car</h2>
              <p class="shop__txt">国の登録有形文化財（沼田家住宅旧第二りんご倉庫）を、コーヒー豆売り専門店と致しました。<br>専門店ならではの上質なコーヒー豆を100ｇから ご購入頂く事ができます。</p>
            </div>
            <article class="shop-menu">
              <h3 class="shop-menu__ttl">menu</h3>
              <div class="shop-menu__b">
                <h4 class="shop-menu__sttl">Take out Menu</h4>
                <ul class="shop-menu__item">
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Hot Coffee <span>（水出しホットコーヒー）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Ice Coffee <span>（水出しアイスコーヒー）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <p class="shop-menu__txt"><em>西岡店のTake out Menuは、全て水出しコーヒーです。</em></p>
                  <p class="shop-menu__txt">水を使ってゆっくりと時間をかけて抽出する為、良質な甘味と柔らかい苦みが特徴として引き出されて嫌な苦みやエグみが抑えられています。<br>またカフェインは水に溶けにくい性質がある為、お湯で入れたコーヒーよりもカフェインの量が少なくなります。<br>西岡店の水出しコーヒーは、当社で水出しコーヒー用にブレンドした特別な豆を 24時間水に漬けて抽出する為、他店舗では味わえない特別なコーヒーに仕上がっております。</p>
                </ul>
              </div>
              <div class="shop-menu__b">
                <h4 class="shop-menu__sttl">Original Blend</h4>
                <ul class="shop-menu__item">
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Mild Blend <span>（マイルドブレンド）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Lloyd's Blend <span>（ロイズブレンド）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Mocha Blend <span>（エチオピアモカブレンド）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Blue Mt No1 Blend <span>（ブルーマウンテンNO.1ブレンド）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                  <li class="shop-menu__list"> 
                    <p class="shop-menu__name">Other <span>（その他）</span></p>
                    <p class="shop-menu__price">・・・¥ 500</p>
                  </li>
                </ul>
              </div>
            </article>
            <button class="shop-menu__btn"></button>
            <article class="shop-data">
              <h3 class="shop-data__ttl">STORE DATA</h3>
              <h4 class="shop-data__sttl">【営業時間】</h4>
              <p class="shop-data__txt">月曜･土曜･･･10:00～13:00 、 14:00～17:00</p>
              <p class="shop-data__txt">火曜･水曜･金曜･･･10:00～15:00</p>
              <h4 class="shop-data__sttl">【定休日】</h4>
              <p class="shop-data__txt">木曜、日曜、年末年始</p>
              <h4 class="shop-data__sttl">【ADO＆TEL】</h4>
              <p class="shop-data__txt">北海道札幌市豊平区西岡4条10丁目7-1　※沼田家住宅旧第二りんご倉庫</p>
              <p class="shop-data__txt">TEL：011-855-3939</p>
            </article>
          </div>
        </section>
      </main>
      <footer class="footer-a" id="footer">
        <div class="ftr1">
          <div class="ftr-icon">
            <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../img/inst.png"></a></div>
            <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../img/fb.png"></a></div>
            <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../img/twi.png"></a></div>
          </div>
          <h2 class="ftr__name ftr__col">ロイズコーヒーユニオン株式会社</h2>
          <address class="ftr__add ftr__col">〒062-0034<br>北海道札幌市豊平区西岡4条10丁目7-1<br>TEL：011-855-3939<br>FAX：011-855-3939<br>e-mail：lloydszimu84@gmail.com</address>
        </div>
        <div class="ftr2">
          <p class="ftr__etc"><a class="ftr__link ftr__col" href="company.html">会社概要</a><a class="ftr__link ftr__col" href="privacy.html">プライバシーポリシー</a><a class="ftr__link ftr__col" href="cookie.html">cookie</a><a class="ftr__link ftr__col" href="contact.html">お問い合わせ</a></p>
          <p class="ftr__copy"><small class="ftr__col">© 2020 lloyds coffee union Inc. All rights reserved.</small></p>
        </div>
      </footer>
    </div>
    <!-- ここから下にjsファイル設置--><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../js/function.js"></script>
  </body>
</html>
