pug/store.pug
extend include/_temp.pug

//- 商品用
mixin item(name, price)
    .item: a.item__link(href="store-item.html")
        img.item__img(src="../img/pack.jpg", alt="item")
        p.item__name #{name}
        p.item__price ￥ #{price} /100g


block head
    title LLOYD'S coffee OnlineStore
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Raleway|Sawarabi+Mincho&display=swap" rel="stylesheet">

block hdr
    .store-top#hdr-b
        h2.store__ttl ONLINE STORE
        nav.store-nav#store-nav
            ul.store-nav__item
                li.store-nav__list: a.store-nav__link(href="#coffee") coffee
                li.store-nav__list: a.store-nav__link(href="#tea") tea
                li.store-nav__list: a.store-nav__link(href="#other") other
block contents
    section.store-cont#coffee
        h2.cont__ttl coffee
        p.cont__txt
            | ※価格は200グラムあたりの価格です。
            br
            | ※200グラム単位での販売となります。
        .cont__s
            p.cont__sttl blend
            .cont-item
                +item('マイルドブレンド', '1,060' )
                +item('オリジナルブレンド', '1,020' )
                +item('ロイズブレンド', '980' )
                +item('エチオピアモカブレンド', '1,220' )
                +item('ブルーマウンテンNO1ブレンド', '3,060' )
        .cont__s
            p.cont__sttl straight
            .cont-item#st
                +item('ブルーマウンテンNO.1', '5,220' )
                +item('キリマンジャロAA', '1,180' )
                +item('エチオピアモカ', '1,520' )
                +item('マンデリンG-1', '1,220' )
                +item('グァテマラSHB', '1,120' )
    section.store-cont#tea
        h2.cont__ttl tea
        p.cont__txt
            | ※価格は100グラムあたりの価格です。
            br
            | ※100グラム単位での販売となります。
        .cont-item
            .cont-item#te
                +item('ダージリン', '960' )
                +item('アッサム', '960' )
                +item('アールグレイ', '1,110' )
    section.store-cont#other
        h2.cont__ttl other
        p.cont__txt
            | ※15杯入り・20杯入り・30杯入りを御用意しています。
            br
            | ※下記以外のギフト商品はメールにてお問合せ下さい。
        .cont-item
            .cont-item#oth
                +item('ギフト用ドリップバック(5杯入×3パック)', '1,700' )

block ftr
    include include/_footer-b.pug

html/store.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="noindex, nofollow">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:title" content="@username">
    <meta name="twitter:image" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:image" content="">
    <link rel="apple-touch-icon" sizes="57x57" href="">
    <link rel="apple-touch-icon" sizes="60x60" href="">
    <title>LLOYD'S coffee OnlineStore</title><link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Raleway|Sawarabi+Mincho&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <header class="header" id="header">
        <h1 class="hdr__ttl"><img class="hdr__logo" src="../img/logo1.svg" alt="LLoyd's Coffee"></h1>
        <div class="store-top" id="hdr-b">
          <h2 class="store__ttl">ONLINE STORE</h2>
          <nav class="store-nav" id="store-nav">
            <ul class="store-nav__item">
              <li class="store-nav__list"><a class="store-nav__link" href="#coffee">coffee</a></li>
              <li class="store-nav__list"><a class="store-nav__link" href="#tea">tea</a></li>
              <li class="store-nav__list"><a class="store-nav__link" href="#other">other</a></li>
            </ul>
          </nav>
        </div>
        <nav class="gnav" id="gnav">
          <ul class="gnav__item">
            <li><a class="gnav__link" href="index.html">top</a></li>
            <li><a class="gnav__link" href="store.html">OnlineStore</a></li>
            <li><a class="gnav__link" href="coffee.html">商品情報</a></li>
            <li><a class="gnav__link" href="shop.html">店舗情報</a></li>
            <li><a class="gnav__link" href="company.html">会社概要</a></li>
            <li><a class="gnav__link" href="privacy.html">プライバシーポリシー</a></li>
            <li><a class="gnav__link" href="cookie.html">Cookieポリシー</a></li>
            <li><a class="gnav__link" href="contact.html">お問い合わせ</a></li>
          </ul>
        </nav>
        <button class="hdr__btn" id="hdr__btn"><span class="hdr__btn-a"></span><span class="hdr__btn-b"></span><span class="hdr__btn-c"></span></button>
      </header>
      <main class="main" id="main">
        <section class="store-cont" id="coffee">
          <h2 class="cont__ttl">coffee</h2>
          <p class="cont__txt">※価格は200グラムあたりの価格です。<br>※200グラム単位での販売となります。</p>
          <div class="cont__s">
            <p class="cont__sttl">blend</p>
            <div class="cont-item">
              <div class="item"><a class="item__link" href="store-item.html"><img class="item__img" src="../img/pack.jpg" alt="item"/>
                  <p class="item__name">マイルドブレンド</p>
                  <p class="item__price">￥ 1,060 /100g</p></a></div>
              <div class="item"><a class="item__link" href="store-item.html"><img class="item__img" src="../img/pack.jpg" alt="item"/>
                  <p class="item__name">オリジナルブレンド</p>
                  <p class="item__price">￥ 1,020 /100g</p></a></div>
              <div class="item"><a class="item__link" href="store-item.html"><img class="item__img" src="../img/pack.jpg" alt="item"/>
                  <p class="item__name">ロイズブレンド</p>
                  <p class="item__price">￥ 980 /100g</p></a></div>
              <div class="item"><a class="item__link" href="store-item.html"><img class="item__img" src="../img/pack.jpg" alt="item"/>
                  <p class="item__name">エチオピアモカブレンド</p>
                  <p class="item__price">￥ 1,220 /100g</p></a></div>
              <div class="item"><a class="item__link" href="store-item.html"><img class="item__img" src="../img/pack.jpg" alt="item"/>
                  <p class="item__name">ブルーマウンテンNO1ブレンド</p>
                  <p class="item__price">￥ 3,060 /100g</p></a></div>
            </div>
          </div>
          <div class="cont__s">
            <p class="cont__sttl">straight</p>
            <div class="cont-item" id="st">
              <div class="item"><a class="item__link" href="store-item.html"><img class="item__img" src="../img/pack.jpg" alt="item"/>
                  <p class="item__name">ブルーマウンテンNO.1</p>
                  <p class="item__price">￥ 5,220 /100g</p></a></div>
              <div class="item"><a class="item__link" href="store-item.html"><img class="item__img" src="../img/pack.jpg" alt="item"/>
                  <p class="item__name">キリマンジャロAA</p>
                  <p class="item__price">￥ 1,180 /100g</p></a></div>
              <div class="item"><a class="item__link" href="store-item.html"><img class="item__img" src="../img/pack.jpg" alt="item"/>
                  <p class="item__name">エチオピアモカ</p>
                  <p class="item__price">￥ 1,520 /100g</p></a></div>
              <div class="item"><a class="item__link" href="store-item.html"><img class="item__img" src="../img/pack.jpg" alt="item"/>
                  <p class="item__name">マンデリンG-1</p>
                  <p class="item__price">￥ 1,220 /100g</p></a></div>
              <div class="item"><a class="item__link" href="store-item.html"><img class="item__img" src="../img/pack.jpg" alt="item"/>
                  <p class="item__name">グァテマラSHB</p>
                  <p class="item__price">￥ 1,120 /100g</p></a></div>
            </div>
          </div>
        </section>
        <section class="store-cont" id="tea">
          <h2 class="cont__ttl">tea</h2>
          <p class="cont__txt">※価格は100グラムあたりの価格です。<br>※100グラム単位での販売となります。</p>
          <div class="cont-item">
            <div class="cont-item" id="te">
              <div class="item"><a class="item__link" href="store-item.html"><img class="item__img" src="../img/pack.jpg" alt="item"/>
                  <p class="item__name">ダージリン</p>
                  <p class="item__price">￥ 960 /100g</p></a></div>
              <div class="item"><a class="item__link" href="store-item.html"><img class="item__img" src="../img/pack.jpg" alt="item"/>
                  <p class="item__name">アッサム</p>
                  <p class="item__price">￥ 960 /100g</p></a></div>
              <div class="item"><a class="item__link" href="store-item.html"><img class="item__img" src="../img/pack.jpg" alt="item"/>
                  <p class="item__name">アールグレイ</p>
                  <p class="item__price">￥ 1,110 /100g</p></a></div>
            </div>
          </div>
        </section>
        <section class="store-cont" id="other">
          <h2 class="cont__ttl">other</h2>
          <p class="cont__txt">※15杯入り・20杯入り・30杯入りを御用意しています。<br>※下記以外のギフト商品はメールにてお問合せ下さい。</p>
          <div class="cont-item">
            <div class="cont-item" id="oth">
              <div class="item"><a class="item__link" href="store-item.html"><img class="item__img" src="../img/pack.jpg" alt="item"/>
                  <p class="item__name">ギフト用ドリップバック(5杯入×3パック)</p>
                  <p class="item__price">￥ 1,700 /100g</p></a></div>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer-b" id="footer">
        <div class="ftr1">
          <div class="ftr-icon">
            <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../img/instd.png"></a></div>
            <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../img/fbd.png"></a></div>
            <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../img/twid.png"></a></div>
            <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../img/lloydsd.png"></a></div>
          </div>
          <h2 class="ftr__name">ロイズコーヒーユニオン株式会社</h2>
          <address class="ftr__add">〒062-0034<br>北海道札幌市豊平区西岡4条10丁目7-1<br>TEL：011-855-3939<br>FAX：011-855-3939<br>e-mail：lloydszimu84@gmail.com</address>
        </div>
        <div class="ftr2">
          <p class="ftr__etc"><a class="ftr__link" href="privacy.html">プライバシーポリシー</a><br><a class="ftr__link" href="torihiki.html">特定商取引法に関する法率に基づく表示</a><br><a class="ftr__link" href="haisou.html">配送・支払いについて</a><br><a class="ftr__link" href="contact.html">お問い合わせ</a></p>
          <p class="ftr__copy"><small>© 2020 lloyds coffee union Inc. All rights reserved.</small></p>
        </div>
      </footer>
    </div>
    <!-- ここから下にjsファイル設置--><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../js/function.js"></script>
  </body>
</html>
