html/include/_header.html

<header class="header" id="header">
  <h1 class="hdr__ttl"><img class="hdr__logo" src="../img/logo1.svg" alt="LLoyd's Coffee"/></h1>
  <nav class="gnav" id="gnav">
    <ul class="gnav__item">
      <li><a class="gnav__link" href="index.html">top</a></li>
      <li><a class="gnav__link" href="store.html">OnlineStore</a></li>
      <li><a class="gnav__link" href="coffee.html">商品情報</a></li>
      <li><a class="gnav__link" href="shop.html">店舗情報</a></li>
      <li><a class="gnav__link" href="conpany.html">会社概要</a></li>
      <li><a class="gnav__link" href="privacy.html">プライバシーポリシー</a></li>
      <li><a class="gnav__link" href="cookie.html">Cookieポリシー</a></li>
      <li><a class="gnav__link" href="contact.html">お問い合わせ</a></li>
    </ul>
  </nav>
  <button class="hdr__btn" id="hdr__btn"><span class="hdr__btn-a"></span><span class="hdr__btn-b"></span><span class="hdr__btn-c"></span></button>
</header>

pug/include/_header.pug
header#header.header
    h1.hdr__ttl
        img.hdr__logo(src="../img/logo1.svg" alt="LLoyd's Coffee")
    block hdr
    nav#gnav.gnav
        ul.gnav__item
            li: a.gnav__link(href="index.html") top
            li: a.gnav__link(href="store.html") OnlineStore
            li: a.gnav__link(href="coffee.html") 商品情報
            li: a.gnav__link(href="shop.html") 店舗情報
            li: a.gnav__link(href="company.html") 会社概要
            li: a.gnav__link(href="privacy.html") プライバシーポリシー
            li: a.gnav__link(href="cookie.html") Cookieポリシー
            li: a.gnav__link(href="contact.html") お問い合わせ
    button#hdr__btn.hdr__btn
        span.hdr__btn-a
        span.hdr__btn-b
        span.hdr__btn-c
